// Main color
$black_extra: #000000;
$black: #474646;
$grey: #898787;
$grey-opasity: rgba(135, 135, 135, 0.7);
$grey-middle: rgba(222, 222, 222, 0.55);
$grey-light: rgba(222, 222, 222, 0.2);
$green: #2bbb07;
$green-dark: #208607;
$green-light: #0ff103;
$orange: #f19340;
$yellow: #F2C94C;
$white: #ffffff;
$white-opasity: rgba(255, 255, 255, 0.93);
$purple: #8854d0;

$error: #ff0000;
$valid: #008000;

$base-delay: 0.2s;
$OutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$appear: $OutCubic 0.5s;


// Media queries
$maxDesktopWidth: 1280px;
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;


// Font
$mainFontColor           : #333333;
$mainFontSize            : 16px;
$mainFontSizeNumber      : 16;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;


@function rem($n) {
  @return #{($n / $mainFontSizeNumber)}rem;
}





